﻿
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<link href="~/css/login.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link href="~/css/site.css" rel="stylesheet" />
<body>
    <div class="p-4 main-div">
    <div class="w-100 d-flex align-items-center flex-column mb-3">
        <div class="w-25 h-25">
            <img class="w-100 h-100" src="/Img/employee.png" alt="">
        </div>
        <h3>Login To Your Account</h3>
    </div>
        <form asp-controller="Login" asp-action="authenticateUser" id="employeeLoginForm" class="w-100" method="post">
            @if (TempData.ContainsKey("ErrorMessage"))
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }
        <input type="email" id="email" name="Email" class="form-control" placeholder="Enter your email">
        <label id="email-error" class="error" for="email"></label>
        <input for="Password" type="password" id="password" name="Password" class="form-control mt-4" placeholder="Enter your password">
        <label id="password-error" class="error" for="password"></label>
        @* <div class="form-check mt-4">
            <input type="checkbox" class="form-check-input " id="showPasswordCheckBox">
            <label class="form-check-label" for="showPasswordCheckBox">Show Password</label>
        </div> *@
        <button id="employeeLoginFormBtn" class="btn btn-success w-100 mt-4">Submit</button>
    </form>
   </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="~/js/LoginPage.js"></script>
</body>



