﻿@model VMEmpData;
@{
    DateTime currentDateTime = DateTime.Now;
    string formattedDate = currentDateTime.ToString("MM/dd/yyyy");
    int sn = 1;
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
@foreach (var data in Model.TaskList)
{
    <div id="editTaskBox_@data.Id" style="z-index: 99; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);" class="position-absolute d-none p-4 bg-white w-50 rounded">
        <div class="d-flex justify-content-end">
            <button id="editTaskBox_@data.Id" onclick="hideEditBox(this.id);" class="btn btn-danger">
                close
            </button>
        </div>
        <p class="text-secondary fs-5">Update Today's Task</p>
        @using (Html.BeginForm("editTask", "UserTask", FormMethod.Post))
        {
            <input type="hidden" value="Employee" name="Type" />
            <input hidden name="Id" value=@(data.Id) />
            <label class="form-label">Task</label>
            <textarea class="form-control" id="summernoteedit_@data.Id" name="Task" rows="3">@Html.Raw(data.Task)</textarea>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-warning mt-3 w-25">Update</button>
            </div>
        }
    </div>
}

<div class="container">
    @* <div>
        <button class="btn btn-primary mb-4" id="showAddPopupBox">
            Add Task
        </button>
    </div> *@
    <div class="d-flex justify-content-between mt-3 mb-3">
        <h3 class="text-secondary fs-5">Task List</h3>
        @if (Model.CanAddTask)
        {
            <div>
                <button class="btn btn-primary mb-4" id="showAddPopupBox">
                    Add Task
                </button>
            </div>
        }
    </div>
    <table id="myTable" class="table mt-4 table-stripped table-bordered" data-page-length='5'>
        <thead class="table-dark">
            <tr>
                <th>SN</th>
                <th>Task</th>
                <th>Date</th>
                <th>Time</th>
              
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.TaskList)
            {
                <tr>
                    <td>@(sn++)</td>
                    <td>@Html.Raw(task.Task)</td>
                    <td>@(task.CreatedDate)</td>
                    <td>@(task.CreatedDate)</td>
                    
                    <td>
                        @if (formattedDate == (task.CreatedDate.ToString("MM/dd/yyyy")).ToString())
                        {
                            <div class="d-flex" style="gap:10px">
                                <form asp-controller="UserTask" asp-action="deleteTask" method="post" class="mb-0">
                                    <input hidden name="taskId" value="@(task.Id)" />
                                    <button type="submit" class="btn btn-danger">
                                        <i class="">Delete</i>
                                    </button>
                                </form>
                                <button class="btn btn-warning" id="@task.Id" onclick="showEditBox(this.id);">
                                    <i>Edit</i>
                                </button>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



@section Scripts{
<script>
        $('#myTable').DataTable();
   
    $(document).ready(function () {
        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: 'Enter your task',
                tabsize: 2,
                height: 200,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['para', ['ul']],
                    ['view', ['codeview']],
                ]
            });
        });
    });
        $("#closeAddPopUpBtn").on("click", () => {
            $("#blurBox").addClass("d-none");
            $("#addDataFormBox").addClass("d-none");
        });
        $("#showAddPopupBox").on("click", () => {
            $("#blurBox").removeClass("d-none");
            $("#addDataFormBox").removeClass("d-none");
        });

    $("#addTodayTask").on("click", () => {
        event.preventDefault();
        var value = $("summernote").val();
        if (value === "") {
            $("#emptyAddTaskInputFiled").text("Task is empty");
            return false;
        }
        else {
            const form = document.getElementById("addTaskForm");
            const fromAction = "@Url.Action("addTask","UserTask")";
            form.action = fromAction;
            form.submit();
        }
    })

        function showEditBox(x) {

            $("#blurBox").removeClass("d-none");
            $("#editTaskBox_" + x).removeClass("d-none");
            $('#summernoteedit_' + x).summernote({
                placeholder: 'Enter your task',
                tabsize: 2,
                height: 200,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['para', ['ul']],
                    ['view', ['codeview']],
                ]
            });
        }
        function hideEditBox(id) {
            $("#blurBox").addClass("d-none");
            $("#" + id).addClass("d-none");
        }
</script>
}