﻿@model employee_tesk_management.Models.VMEmpData
@{
    int sn = 1;
}
<div class="container">
    <div>
        <h2>User Task</h2><u></u>
        <h4><small>All Task List</small></h4>
       @*  <div class="col-12 col-md-6 col-lg-3 d-flex align-items-center  mb-2">
            @Html.DropDownList("EmployeeId", ViewBag.EmployeeList, "Select Employee", new { @class = "form-control select2", @id = "employeeList" })
        </div> *@
        <table id="myTable" class="table mt-4 table-stripped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>SN</th>
                    <th>Task</th>
                    <th>Name</th>
                    <th>Date</th>
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    DateTime Date = DateTime.Now;
                    string OnlyDate = Date.ToString("MM/dd/yyyy");
                }
                @foreach (var task in Model.TaskList)
                {
                    <tr>
                        <td>@(sn++)</td>
                        <td>@Html.Raw(task.Task)</td>
                        <td><a class="text-decoration-none" title="GoTO Detail" asp-action="UserDetails" asp-controller="Employee" asp-route-id="@(task.EmployeeID)" style="color:black;">@(task.Employee.Name)</a> </td>
                        <td>@(task.CreatedDate)</td>
                        
                        <td>
                           
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
@section scripts{
    <script>
        $("#myTable").DataTable();
    </script>
    
}