﻿@model IEnumerable<employee_tesk_management.Models.Employee>
@{
}
<div class="container">
    <table class="table" id="dataTable">
        <thead class="table-dark">
            <tr>
               <th>SN</th>
               <th>Name</th>
               <th>Task</th>
               <th>Time</th>

                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var rec = item.Records.First();
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        @item.Name
                    </td>


                    <td>
                       @rec.Task
                    </td>
                    <td>
                        @rec.CreatedDate
                    </td>

                    
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script>
        
        $("#dataTable").DataTable();
    </script>
}