﻿@model employee_tesk_management.Models.VMEmpData
@{
    int sn = 1;
}
<div class="container">
    <h2>User Task</h2><u></u>
    <h4><small>Today Task List</small></h4>
    <div>
        <table id="myTable" class="table mt-4 table-stripped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>SN</th>
                    <th>Task</th>
                    <th>Name</th>
                    <th>Date</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    DateTime Date = DateTime.Now;
                    string OnlyDate = Date.ToString("MM/dd/yyyy");
                }
                @foreach (var task in Model.TaskList.Where(x => x.CreatedDate.ToString("MM/dd/yyyy").ToString() == OnlyDate))
                {
                    <tr>
                        <td>@(sn++)</td>
                        <td>@Html.Raw(task.Task)</td>
                        <td><a class="text-decoration-none" title="GoTO Detail" asp-action="UserDetails" asp-controller="Employee" asp-route-id="@(task.EmployeeID)" style="color:black;">@(task.Employee.Name)</a> </td>
                        <td>@(task.CreatedDate)</td>

                        <td>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
@section scripts{
    <script>
        $("#myTable").DataTable();
    </script>
}
