﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tesk Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    @* <link href="~/css/sidebar.css" rel="stylesheet" /> *@
    @* <link rel="stylesheet" href="~/employee_tesk_management.styles.css" asp-append-version="true" /> *@

</head>
<body>
    <div style="height: 100vh; background-color: rgba(0, 0, 0, 0.7);z-index:99" class="position-fixed w-100 d-none " id="blurBox">
        <div class="position-relative d-flex h-100 w-100 justify-content-center align-items-center">
            <div id="addDataFormBox" class="position-absolute d-none p-4 bg-white w-50 rounded">
                <div class="d-flex justify-content-end">
                    <button id="closeAddPopUpBtn" class="btn btn-danger">
                        close
                    </button>
                </div>
                <p class="text-dark fw-bold fs-5">Today's Task</p>
                <form id="addTaskForm" method="POST" class="w-100">
                    <textarea class="form-control" id="summernote" name="Task" rows="3"></textarea>
                    <p class="text-danger" id="emptyAddTaskInputFiled"></p>
                    <div class="d-flex justify-content-end">
                        <button id="addTodayTask" class="btn btn-success mt-3 w-25">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container mb-4">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand">TASK<span style="color:#1450A3">TALLY</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="UserTask" asp-action="EmployeeTask">Task</a>
                        </li>
                    </ul>
                </div>               
                <nav>
                    <div class="collapse navbar-collapse ">
                        <ul class="navbar-nav">
                            <li class=" btn btn-black nav-item dropdown">
                                
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                    <span class="ms-1 align-texttop">Login</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li> <a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="ChangeEmployeePassword">Password Change</a></li>
                                    <li> <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
        </nav>

    </div>

    

    @* <div class="container">
    <main role="main" class="pb-3"> *@
    @RenderBody()
    @*    </main>
    </div>
    *@
    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - employee_tesk_management - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/jquery-validation@1.20.0/dist/jquery.validate.min.js
"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
