﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tesk Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    @* <link href="~/css/sidebar.css" rel="stylesheet" /> *@
    @* <link rel="stylesheet" href="~/employee_tesk_management.styles.css" asp-append-version="true" /> *@

</head>
<body>
    <div style="height: 100vh; background-color: rgba(0, 0, 0, 0.7);z-index:99" class="position-fixed w-100 d-none " id="blurBox">
        <div class="position-relative d-flex h-100 w-100 justify-content-center align-items-center">
            <div id="addDataFormBox" class="position-absolute d-none p-4 bg-white w-50 rounded">
                <div class="d-flex justify-content-end">
                    <button id="closeAddPopUpBtn" class="btn btn-danger">
                        close
                    </button>
                </div>
                <p class="text-dark fw-bold fs-5">Today's Task</p>
                <form id="addTaskForm" method="POST" class="w-100">
                    <textarea class="form-control" id="summernote" name="Task" rows="3"></textarea>
                    <p class="text-danger" id="emptyAddTaskInputFiled"></p>
                    <div class="d-flex justify-content-end">
                        <button id="addTodayTask" class="btn btn-success mt-3 w-25">Add</button>
                    </div>
                </form>
            </div>



            <div id="addEmploueeFormBox" class="position-absolute p-4 bg-white w-50 rounded d-none">
                <div class="d-flex justify-content-end">
                    <button id="closeAddPopUpBtn1" class="btn btn-danger">close</button>

                </div>
                <h3 class="">Add Users</h3>
                <hr />
                <form id="addEmployeeForm" asp-controller="Employee" asp-action="addEmployee" method="Post" class="w-100">
                    @if (TempData.ContainsKey("EmialExists"))
                    {
                        <div class="alert alert-danger">
                            Email is already exists
                        </div>
                    }
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="Name">Name</label>
                            <input type="text" name="Name" class="form-control" placeholder="Employee name" />
                            <p id="Name-error" class="error" for="Name"></p>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="Email">Email</label>
                            <input type="email" name="Email" class="form-control" placeholder="Employee email" />
                            <p id="Email-error" class="error" for="Email"></p>
                        </div>
                    </div>



                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="ContactNumber">Contact Number</label>
                            <input type="text" name="ContactNo" class="form-control" placeholder="Employee number" />
                            <p id="ContactNumber-error" class="error" for="ContactNo"></p>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="Gender">Gender</label>
                            <div class="d-flex mt-2" style="gap: 20px">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Gender" id="male" value="1" />
                                    <label class="form-check-label" for="male">Male</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Gender" id="female" value="2" />
                                    <label class="form-check-label" for="female">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="Address">Address</label>
                                <input type="text" name="Address" class="form-control" placeholder="Employee Address" />
                                <p id="Address-error" class="error" for="Address"></p>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="EmpStage">Current Stage</label>
                                <select name="EmployeeStage" class="form-control">
                                    <option selected value="">Select a Stage</option>
                                    <option value="1">Intern</option>
                                    <option value="2">Probation</option>
                                    <option value="3">Contractual</option>
                                </select>
                                <p id="EmpStage-error" class="error" for="EmpStage"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="EmpType">Type</label>
                                <select name="EmployeeType" class="form-control">
                                    <option selected value="">Select a Type</option>
                                    <option value="1">Admin</option>
                                    <option value="2">Employee</option>
                                </select>
                                <p id="EmpType-error" class="error" for="EmpType"></p>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="EmpRole">Organization Role</label>
                                <select name="EmployeeRole" class="form-control">
                                    <option selected value="">Select a Role</option>
                                    <option value="1">Support</option>
                                    <option value="2">Developer</option>
                                    <option value="3">Admin</option>
                                </select>
                                <p id="EmpRole-error" class="error" for="EmpRole"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="JoinDate">Join Date</label>
                                <input type="date" name="JoinDate" class="form-control" />
                                <p id="Join-error" class="error" for="JoinDate"></p>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="CurrentStageCompletionDate">Completion Date</label>
                                <input type="date" name="ContractComletionDaate" class="form-control" />
                                <p id="CurrentStageCompletionDate-error" class="error" for="CurrentStageCompletionDate"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Password">Password</label>
                            <input type="password" name="Password" id="addDataPassword" class="form-control" placeholder="Password" />
                            <p id="Password-error" class="error" for="Password"></p>
                        </div>

                        <div class="d-flex justify-content-end">

                            <button id="addEmployee" type="submit" class="btn btn-success mt-3 w-25">Add</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">TASK<span style="color:#1450A3">TALLY</span></a>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Dashboard">Dashboard</a>
                    </li>
                    @* <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li> *@

                    <li class="nav-item dropdown">
                        @* <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                        </button> *@
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Employee</a>
                        <ul class="dropdown-menu">
                            <li> <a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="Index">Active Employee</a></li>
                            <li> <a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="DeletedEmployee">Deleted Employee</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown ">
                        @* <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                        </button> *@
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Task</a>
                        <ul class="dropdown-menu">
                            <li> <a class="dropdown-item" asp-area="" asp-controller="UserTask" asp-action="TaskList">All Task</a></li>
                            <li> <a class="dropdown-item" asp-area="" asp-controller="UserTask" asp-action="ToDayTaskNew">Today Task</a></li>

                        </ul>
                    </li>




                    @*  <li class="nav-item align-content-end">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                    </li> *@
                </ul>
            </div>
            <nav>
                <div class="collapse navbar-collapse ">
                    <ul class="navbar-nav">
                        <li class="btn btn-black nav-item dropdown ms-auto">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                                <span class="ms-1 align-texttop">Logout</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="ChangeEmployeePassword">Password Change</a></li>
                                <li> <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            @* <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a> *@
        </div>

    </nav>

    @* <nav class=" ">
    <div class="container">
    <div class="justify-content-center ">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Task Log</a>
    </div>



    <div class="navbar-collapse justify-content-md-end">
    <ul class="navbar-nav">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Employees</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
    </li>
    </ul>
    </div>
    </div>
    </nav> *@

    @* <div class="container">
    <main role="main" class="pb-3"> *@
    @RenderBody()
    @*    </main>
    </div>
    *@
    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - employee_tesk_management - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/jquery-validation@1.20.0/dist/jquery.validate.min.js
"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
