﻿@model employee_tesk_management.Models.VMValidatePassword
@{
}
<div class="container w-50 border border-1 p-5 mt-5">
    @if (TempData.ContainsKey("EditPasswordMessage"))
    {
        <div class="alert alert-@TempData["type"] alert-dismissible fade show" id="alertMsg" role="alert">
            @TempData["EditPasswordMessage"]
            <button type="button" id="hideAlertMsgBtn" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <h1>Edit Password</h1>
    <form id="ChangePasswordForm" class="w-100" asp-controller="Employee" asp-action="ChangeEmployeePassword" method="post">
        <input hidden name="EmployeeID" type="text" value=@(Model.EmployeeID) />
        <input hidden name="Password" value=@(Model.EmployeeList.Select(x=>x.Password)) />
        <div class="mb-3">
            <label class="form-label">Old Password</label>
            <input type="password" asp-for="OldPassword" class="form-control" required>
            <span class="text-danger" asp-validation-for="OldPassword"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">New Password</label>
            <input type="password" asp-for="NewPassword" class="form-control" required>
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" required>
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
        <button type="submit" class="btn btn-warning">
            
            Update
        </button>
    </form>
</div>
