﻿@model IEnumerable<employee_tesk_management.Models.Employee>

@{
    ViewData["Title"] = "Index";
    int sn = 1;
}
<style>
    .error {
        color: red;
    }
</style>
<div class="container">

    <h2>Employee List</h2><u></u>
    <h4><small>Deleted</small></h4>
    @* <small><label style="font-size:20px;">Deleted</label></small> *@

    <div class="d-flex justify-content-end mb-4 mt-2">
        <div>
            <button class="btn btn-success" id="showAddUserPopupBox">
                Add User
            </button>
        </div>


    </div>
    <table class="table" id="dataTable">
        <thead class="table-dark">
            <tr>
                <th>
                    SN
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Address
                </th>
                <th>
                    Mobile
                </th>
                <th>
                    Join Date
                </th>
                <th class="d-none">Actions</th>
            </tr>
        </thead>



        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(sn++)
                    </td>
                    <td>
                        @(item.Name)
                    </td>
                    <td>
                        @(item.Email)
                    </td>
                    <td>
                        @(item.Address)
                    </td>
                    <td>
                        @(item.ContactNo)
                    </td>
                    <td>
                        @(item.JoinDate.ToShortDateString())
                    </td>


                    <td class="d-none">
                        <a class="btn  btn-primary" asp-controller="Employee" asp-action="EmployeeEditProfile" asp-route-id="@item.Id">

                            Edit

                        </a>
                        <a class="btn  btn-success" asp-controller="Employee" asp-action="EmployeeProfileDetail" asp-route-id="@item.Id">

                            Details

                        </a>
                        <a class="btn btn-danger" asp-controller="Employee" asp-action="DeleteEmployee" asp-route-id="@item.Id">

                            Delete

                        </a>


                    </td>
                </tr>
            }
        </tbody>
    </table>
   
</div>

@section scripts {
    <script>
        $("#dataTable").DataTable();

    </script>
}

