﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@foreach (var user in Model.EmployeeList)
{
    <div class="container w-50 border border-1" style="padding:0">
       
        <div class="p-5">
            <h1>Edit Profile</h1>

            <form class="w-100" asp-controller="User" asp-action="EditEmployeeData" method="post">
                <input hidden name="Id" type="text" value=@(user.Id) />
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" name="Name" class="form-control" value="@(user.Name)" readonly >
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="Email" class="form-control" value=@(user.Email) readonly >
                </div>
                <div class="mb-3">
                    <label class="form-label">Address</label>
                    <input type="text" name="Address" class="form-control" value=@(user.Address) readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">Contact Number</label>
                    <input type="text" name="ContactNumber" class="form-control" value=@(user.ContactNo) readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">Gender</label>
                    <input type="" name="Gender" class="form-control" value=@(user.Gender) readonly>
                    @* <select name="Gender" class="form-control mb-3">
                        <option value=@(user.Gender)>@(user.Gender)</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select> *@
                </div>
                
                    <div class="mb-3">
                        <label class="form-label">Employee Type</label>
                    <input type="" name="EmployeeType" class="form-control" value=@(user.EmployeeType) readonly>
                        @* <select name="EmployeeType" class="form-control mb-3">
                            <option value=@(user.EmployeeType)>@(user.EmployeeType)</option>
                            <option value="1">Admin</option>
                            <option value="2">Employee</option>
                        </select> *@
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Employee Role</label>
                    <input type="" name="EmployeeRole" class="form-control" value=@(user.EmployeeRole) readonly>
                       @*  <select name="EmployeeRole" class="form-control mb-3">
                            <option value=@(user.EmployeeRole)>@(user.EmployeeRole)</option>
                            <option value="1">Customer Support/QA</option>
                            <option value="2">Developer</option>
                            <option value="3">Admin</option>
                        </select> *@
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Employee Stage</label>
                    <input type="" name="EmployeeStage" class="form-control" value=@(user.EmployeeStage) readonly>
                        @* <select name="EmployeeStage" class="form-control mb-3">
                            <option value=@(user.EmployeeStage)>@(user.EmployeeStage)</option>
                            <option value="1">Intern</option>
                            <option value="2">Probation period(Trial)</option>
                            <option value="3">Contractual</option>
                        </select> *@
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Join Date</label>
                    <input type="date" name="JoinDate" class="form-control" value=@(user.JoinDate.ToString("yyyy-MM-dd")) readonly >
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Current Stage Completion Date</label>
                    <input type="date" name="ContractComletionDaate" class="form-control" value=@(user.ContractComletionDaate.ToString("yyyy-MM-dd")) readonly >
                    </div>
                    @* <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="text" name="Password" class="form-control" )>
                    </div> *@

                <button asp-controller="Employee" asp-action="Index" type="" class="btn btn-warning">
                   
                    Back
                </button>
            </form>

        </div>
    </div>
   
}