﻿@model employee_tesk_management.Models.VMEmpData
@{
}
@foreach (var user in Model.EmployeeList)
{
    <div class="container w-50 border border-1" style="padding:0">
        @* <div class="w-100 position-relative" style="height: 20vh;">
            <div class="w-100 h-100 position-absolute">
                <img class="w-100 h-100" src="/Img/background3.jpg" alt="" style="object-fit:cover">
            </div>

            <div class="position-absolute top-50 d-flex" id="userIntroDiv" style="left:40%">

                <div class=" position-relative rounded-circle" style="background-color: #1a780b;height:200px;width:200px;">
                    <div class="w-100 h-100 d-flex justify-content-center rounded-circle" style="overflow:hidden;align-items:center;background-color:#236477;border:none;">
                        @if (user.ProfileImg.ToString() != "")
                        {
                            <img class="w-100 h-100" src=@(user.ProfileImg) alt="User img" style="object-fit:cover">
                        }
                        else
                        {
                            <h1 class="text-white" style="font-size:80px">@(char.ToUpper(user.Name[0]))</h1>
                        }
                    </div>
                    <button class="changeProfile" id="changeProfile" onclick="displayProfileImgOption();">
                        <ion-icon name="camera" style="font-size: 24px;"></ion-icon>
                    </button>

                    <div class="border changeProfileImgOption" id="changeProfileImgOption">
                        <form method="POST" class="border-bottom m-0" enctype="multipart/form-data" id="myForm2">
                            <input type="number" value=@(user.Id) hidden name="Id">
                            <label for="change2">
                                <div class="uploadImgBtn"><ion-icon name="cloud-upload-outline" style="font-size: 24px;"></ion-icon>Upload Image</div>
                            </label>
                            <input type="file" id="change2" name="ProfileImg" style="display:none;">
                        </form>
                        <form id="myForm1" class="m-0" method="post">
                            <input type="number" value=@(user.Id) hidden name="Id">
                            <button type="button" onclick="deleteProfileImg();" class="deleteImgBtn"><ion-icon name="trash-outline" style="font-size: 24px;"></ion-icon>Delete Image</button>
                        </form>
                    </div>
                </div>

            </div>

        </div> *@
        <div class="p-5">
            <h1>Edit Profile</h1>

            <form class="w-100" asp-controller="Employee" asp-action="EditEmployeeData" method="post">
                <input hidden name="Id" type="text" value=@(user.Id) />
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" name="Name" class="form-control" value="@(user.Name)" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="Email" class="form-control" value=@(user.Email) required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Address</label>
                    <input type="text" name="Address" class="form-control" value=@(user.Address) required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Contact Number</label>
                    <input type="text" name="ContactNo" class="form-control" value=@(user.ContactNo) required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Gender</label>
                    <select name="Gender" class="form-control mb-3">
                        <option value=@(user.Gender)>@(user.Gender)</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>
                @if (Model.EmployeeID != user.Id)
                {
                    <div class="mb-3">
                        <label class="form-label">Employee Type</label>
                        <select name="EmployeeType" class="form-control mb-3">
                            <option value=@(user.EmployeeType)>@(user.EmployeeType)</option>
                            <option value="1">Admin</option>
                            <option value="2">Employee</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Employee Role</label>
                        <select name="EmployeeRole" class="form-control mb-3">
                            <option value=@(user.EmployeeRole)>@(user.EmployeeRole)</option>
                            <option value="1">Customer Support/QA</option>
                            <option value="2">Developer</option>
                            <option value="3">Admin</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Employee Stage</label>
                        <select name="EmployeeStage" class="form-control mb-3">
                            <option value=@(user.EmployeeStage)>@(user.EmployeeStage)</option>
                            <option value="1">Intern</option>
                            <option value="2">Probation period(Trial)</option>
                            <option value="3">Contractual</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Join Date</label>
                        <input type="date" name="JoinDate" class="form-control" value=@(user.JoinDate.ToString("yyyy-MM-dd")) required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Current Stage Completion Date</label>
                        <input type="date" name="ContractComletionDaate" class="form-control" value=@(user.ContractComletionDaate.ToString("yyyy-MM-dd")) required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="text" name="Password" class="form-control" )>
                    </div>
                }
                <button type="submit" class="btn btn-warning">
                    
                    Update
                </button>
            </form>

        </div>
    </div>
   @*  @if (Model.EmployeeID == user.Id)
    {
        <div class="container w-50 border border-1 p-5 mt-5">
            @if (TempData.ContainsKey("EditPasswordMessage"))
            {
                <div class="alert alert-@TempData["type"] alert-dismissible fade show" id="alertMsg" role="alert">
                    @TempData["EditPasswordMessage"]
                    <button type="button" id="hideAlertMsgBtn" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <h1>Edit Password</h1>
            <form id="ChangePasswordForm" class="w-100" asp-controller="User" asp-action="EditEmployeePassword" method="post">
                <input hidden name="EmployeeID" type="text" value=@(user.Id) />
                <input hidden name="Password" value=@(user.Password) />
                <div class="mb-3">
                    <label class="form-label">Old Password</label>
                    <input type="password" asp-for="OldPassword" class="form-control" required>
                    <span class="text-danger" asp-validation-for="OldPassword"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">New Password</label>
                    <input type="password" asp-for="NewPassword" class="form-control" required>
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" required>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
                <button type="submit" class="btn btn-warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg>
                    Update
                </button>
            </form>
        </div>
    } *@
}