﻿@model IEnumerable<employee_tesk_management.Models.Employee>

@{
    ViewData["Title"] = "Index";
    int sn = 1;
}
<style>
    .error {
        color: red;
    }
</style>
<div class="container">
    <h1>Employee List</h1>

    <div class="d-flex justify-content-end mb-4 mt-2">
        <div>
            <button class="btn btn-success" id="showAddUserPopupBox">
                Add User
            </button>
        </div>


    </div>
    <table class="table" id="dataTable">
        <thead class="table-dark">
            <tr>
                <th>
                    SN
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Address
                </th>
                <th>
                    Mobile
                </th>
                <th>
                    Join Date
                </th>
                <th>Role</th>
                <th>Actions</th>
        </tr>
        </thead>


        
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(sn++)
                    </td>
                    <td>
                        <a class="text-decoration-none" title="GoTO Detail" asp-action="UserDetails" asp-controller="Employee" asp-route-id="@(item.Id)" style="color:black;">@(item.Name)</a>
                        @* @(item.Name) *@
                    </td>
                    <td>
                            @(item.Email)
                    </td>
                    <td>
                        @(item.Address)
                    </td>
                    <td>
                        @(item.ContactNo)
                    </td>
                    <td>
                        @(item.JoinDate.ToShortDateString())
                    </td>
                    <td>
                        @(item.EmployeeRole.ToString())
                    </td>
                    

                    <td>
                        <a class="btn  btn-primary" asp-controller="Employee" asp-action="EmployeeEditProfile" asp-route-id="@item.Id">
                          
                                Edit
                           
                        </a>
                        <a class="btn  btn-success" asp-controller="Employee" asp-action="EmployeeProfileDetail" asp-route-id="@item.Id">

                            Details

                        </a>
                        <a class="btn btn-danger" asp-controller="Employee" asp-action="DeleteEmployee" asp-route-id="@item.Id">

                            Delete

                        </a>
                         

                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*  <div style="height: 100vh; background-color: rgba(0, 0, 0, 0.7);z-index:99" class="position-fixed w-100 " id="blurBox">
    <div class="position-relative d-flex h-100 w-100 justify-content-center align-items-center">
    <div id="addEmploueeFormBox" class="position-absolute p-4 bg-white w-50 rounded">
    <div class="d-flex justify-content-end">
    <button id="closeAddPopUpBtn" class="btn btn-danger">close</button>

    </div>
    <h3 class="">Add Users</h3>
    <hr />
    <form id="addEmployeeForm" asp-controller="Employee" asp-action="addEmployee" method="Post" class="w-100">
    @if (TempData.ContainsKey("EmialExists"))
    {
    <div class="alert alert-danger">
    Email is already exists
    </div>
    }
    <div class="row">
    <div class="form-group col-md-6">
    <label for="Name">Name</label>
    <input type="text" name="Name" class="form-control" placeholder="Employee name" />
    <p id="Name-error" class="error" for="Name"></p>
    </div>

    <div class="form-group col-md-6">
    <label for="Email">Email</label>
    <input type="email" name="Email" class="form-control" placeholder="Employee email" />
    <p id="Email-error" class="error" for="Email"></p>
    </div>
    </div>



    <div class="row">
    <div class="form-group col-md-6">
    <label for="ContactNumber">Contact Number</label>
    <input type="text" name="ContactNumber" class="form-control" placeholder="Employee number" />
    <p id="ContactNumber-error" class="error" for="ContactNumber"></p>
    </div>

    <div class="form-group col-md-6">
    <label for="Gender">Gender</label>
    <div class="d-flex mt-2" style="gap: 20px">
    <div class="form-check">
    <input class="form-check-input" type="radio" name="Gender" id="male" value="1" />
    <label class="form-check-label" for="male">Male</label>
    </div>
    <div class="form-check">
    <input class="form-check-input" type="radio" name="Gender" id="female" value="2" />
    <label class="form-check-label" for="female">Female</label>
    </div>
    </div>
    </div>

    <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" name="Password" id="addDataPassword" class="form-control" placeholder="Password" />
    <p id="Password-error" class="error" for="Password"></p>
    </div>

    <div class="d-flex justify-content-end">

    <button id="addEmployee" type="submit" class="btn btn-success mt-3 w-25">Add</button>
    </div>
    </div>
    </form>

    </div>
    </div>
    </div> *@

</div>

@section scripts {
    <script>
        $("#dataTable").DataTable();

        $("#showAddUserPopupBox").on("click", () => {
            $("#blurBox").removeClass("d-none");
            $("#addEmploueeFormBox").removeClass("d-none");
        });

        $("#closeAddPopUpBtn1").on("click", () => {
            $("#blurBox").addClass("d-none");
            $("#addEmploueeFormBox").addClass("d-none");
        })



        $('#addEmployeeForm').validate({
            rules: {
                Name: "required",

                Email: {
                    required: true,
                    email: true
                },
                Password: {
                    required: true,
                    minlength: 5
                }
            },
            messages: {
                Name: "Name cannot be empty",

                Email: {
                    required: "Email cannot be empty",
                    email: "Enter a valid email"
                },
                Password: {
                    required: "Password cannot be empty",
                    minlength: "Password length must be at least 5 characters"
                }
            }
        });
    </script>
}

