﻿@model employee_tesk_management.Models.Employee
@{
    int sn = 1;
}
<div class="container">
    <h3>User Task</h3>
    <div class="row mt-4">
        <div class="d-flex col-lg-6 col-xl-3">


            <button type="submit" class="card-body" style="background-color:#CCCCCC;border:1px solid #005792;border-radius: 10px;">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-uppercase text-dark mb-0 card-title">
                                <small style="font-weight: bold">Name</small>
                            </h6>
                            <span class="h2 font-weight-bold mb-0">@(Model.Name)</span>
                        </div>
                        
                    </div>
                </button>
            
        </div>
        <div class="d-flex col-lg-6 col-xl-3">


            <button type="submit" class="card-body" style="background-color:#CCCCCC;border:1px solid #005792;border-radius: 10px;">
                <div class="row">
                    <div class="col">
                        <h6 class="text-uppercase text-dark mb-0 card-title">
                            <small style="font-weight: bold">Role</small>
                        </h6>
                        <span class="h2 font-weight-bold mb-0">@(Model.EmployeeRole)</span>
                    </div>

                </div>
            </button>

        </div>
        <div class="d-flex col-lg-6 col-xl-3">


            <button type="submit" class="card-body" style="background-color:#CCCCCC;border:1px solid #005792;border-radius: 10px;">
                <div class="row">
                    <div class="col">
                        <h6 class="text-uppercase text-dark mb-0 card-title">
                            <small style="font-weight: bold">EmployeeType</small>
                        </h6>
                        <span class="h2 font-weight-bold mb-0">@(Model.EmployeeStage)</span>
                    </div>

                </div>
            </button>

        </div>
    </div>
    <div>
        <table class="table" id="myTable">
            <thead class="table-dark">
                <tr>
                    <th>SN</th>
                    <th>Task</th>
                    <th>Task Performed Date</th>
                    <th>Task Performed Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Records)
                {
                <tr>
                <td>@(sn++)</td>
                <td>@Html.Raw(item.Task)</td>
                <td>@(item.CreatedDate.ToShortDateString())</td>
                <td>@(item.CreatedDate.ToShortTimeString())</td>
                </tr>
                }
               
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        $("#myTable").DataTable();
    </script>
}