﻿@model employee_tesk_management.Models.VMEmpData
@{
    int sn = 1;
}
<div class="container">
    <div class="row mt-4">
        <div class="d-flex col-lg-6 col-xl-3">
                <button type="submit" class="card-body" style="background-color:#FFE2E6;border:1px solid #FA597E">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-uppercase text-dark mb-0 card-title">
                                <small style="font-weight: bold">Total Employee</small>
                            </h6>
                            <span class="h2 font-weight-bold mb-0">@Model.TotalEmployee</span>
                        </div>
                    </div>
                </button>
        </div>
        <div class="d-flex col-lg-6 col-xl-3">
                <button type="submit" class="card-body" style="background-color:#FFF4DE;border:1px solid #FE947A">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-uppercase text-dark mb-0 card-title">
                                <small style="font-weight: bold">Intern</small>
                            </h6>
                            <span class="h2 font-weight-bold mb-0">@Model.TotalIntern</span>
                        </div>
                    </div>
                </button>
        </div>
        <div class="d-flex col-lg-6 col-xl-3">
                <button class="card-body" style="background-color:#DCFCE7;border:1px solid #3CD755">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-uppercase text-dark mb-0 card-title">
                                <small style="font-weight: bold">Provision Period</small>
                            </h6>
                            <span class="h2 font-weight-bold mb-0">@Model.TotalProvisionPeriod</span>
                        </div>
                    </div>
                </button>
        </div>
        <div class="d-flex col-lg-6 col-xl-3">
                <button class="card-body" style="background-color:#F4E8FF;border:1px solid #BF83FF">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-uppercase text-dark mb-0 card-title">
                                <small style="font-weight: bold">Contractual</small>
                            </h6>
                            <span class="h2 font-weight-bold mb-0">@Model.TotalContractual</span>
                        </div>
                    </div>
                </button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="d-flex col-lg-6 col-xl-3">
                <button type="submit" class="card-body" style="background-color:#AED9E0;border:1px solid #005792">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-uppercase text-dark mb-0 card-title">
                                <small style="font-weight: bold">Admin</small>
                            </h6>
                            <span class="h2 font-weight-bold mb-0">@Model.TotalAdmin</span>
                        </div>
                        
                    </div>
                </button> 
        </div>
        <div class="d-flex col-lg-6 col-xl-3">
                <button type="submit" class="card-body" style="background-color:#D7CCC8;border:1px solid #6C4F3D">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-uppercase text-dark mb-0 card-title">
                                <small style="font-weight: bold">Quality Assurance</small>
                            </h6>
                            <span class="h2 font-weight-bold mb-0">@Model.TotalQA</span>
                        </div>
                    </div>
                </button>
        </div>
        <div class="d-flex col-lg-6 col-xl-3">
                <button type="submit" class="card-body" style="background-color:#B2DFDB;border:1px solid #008080">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-uppercase text-dark mb-0 card-title">
                                <small style="font-weight: bold">Developer</small>
                            </h6>
                            <span class="h2 font-weight-bold mb-0">@Model.TotalDeveloper</span>
                        </div>
                    </div>
                </button>
        </div>
        <div class="d-flex col-lg-6 col-xl-3">
                <button type="submit" class="card-body" style="background-color:#FFF4DE;border:1px solid #FE947A">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-uppercase text-dark mb-0 card-title">
                                <small style="font-weight: bold">Male/Female</small>
                            </h6>
                            <span class="h2 font-weight-bold mb-0">@Model.TotalMale/@Model.TotalFemale</span>
                        </div>
                    </div>
                </button>
        </div>

    </div>
    <h3>Admin Dashboard</h3>
    <table class="table" id="dataTable">
        <thead class="table-dark">
            <tr>
                <th>
                    SN
                </th>
                <th>
                    Employee Name
                </th>
                <th>
                    Employee Type
                </th>
                <th>
                    Employee Role
                </th>
                <th>
                    Join Date
                </th>
                <th>
                    Completion Date
                </th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EmployeeList)
            {
                <tr>
                    <td>@(sn++)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeType)
                    </td>
                    <td>
                        @(item.EmployeeRole)
                    </td>
                    <td>
                        @(item.JoinDate.ToShortDateString())
                    </td>
                    <td>
                        @(item.ContractComletionDaate.ToShortDateString())
                    </td>



                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts {
    <script>

        $("#dataTable").DataTable();
    </script>
}